/* Home page styling*/
.navbar {
  background-color: #041b37;
}
body {
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  margin: 0; /* Ensure no margin around the body */
}
.home {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(0%, -50%);
  padding: 10px;
}
.navbar-nav .nav-link {
  color: white !important;
}

a.navbar-brand {
  font-weight: bold;
}

a.navbar-brand:hover {
  color: #efe563 !important;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/* Overall container styling */
#overall-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 100px;
}

/* Chat box styling */
#chat-box {
  width: 400px;
  height: 600px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

/* Chat header styling */
#chat-header {
  padding: 20px;
  background-color: #007bff;
  color: white;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

/* Chat container styling */
#chat-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f4f4f9;
}

/* User and bot messages styling */
.user-message {
  padding: 10px;
  margin: 10px 0;
  background-color: #e1f5fe;
  border-radius: 10px;
  color: black;
}

.bot-message {
  padding: 10px;
  margin: 10px 0;
  background-color: #fce4ec;
  border-radius: 10px;
  color: black;
}

/* Input form styling */
#user-input-form {
  display: flex;
  border-top: 1px solid #ddd;
}

#user-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 0 0 0 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 0 10px 0;
}
