{% extends "base.html" %}

{% block title %}
{{ course.title }}
{% endblock %}

{% block content %}
<style>
    body {
        background: linear-gradient(to right, #141e30, #243b55);
        color: white;
    }

    h5, h6, p {
        color:#141e30;
    }
    .container p {
        color: white;
    }

    .card p {
        color: #141e30;
    }
</style>
<div class="container mt-4">
    <h1>{{ course.title }}</h1>
    <p>{{ course.description }}</p>
    
    {% for module in course.modules %}
    <div class="card mb-3">
        <div class="card-header">
            <h5>{{ module.title }}</h5>
            <p>{{ module.description }}</p>
        </div>
        <div class="card-body">
            {% for lesson in module.lessons %}
            <div class="lesson">
                <h6>{{ lesson.title }}</h6>
                <p>{{ lesson.content }}</p>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    
    <a href="{{ url_for('manage_courses') }}" class="btn btn-primary">Back to Courses</a>
</div>
{% endblock %}